.backgroundBuy{
    -fx-background-color: #bfbcbc;
}

.Title{
    -fx-font-family: Verdana;
    -fx-font-size: 28px;
    -fx-fill: #0B3953;
}

.textInput{
    -fx-font-family: Verdana;
    -fx-fill: #0B3953;
    -fx-font-size: 24px;
    -fx-effect: dropshadow(gaussian, white, 6, 0.5, 0, 0);
}

.text-field{
    -fx-font-family: Verdana;
    -fx-font-size: 24px;
}

.text-field .smallerField{
    -fx-font-size: 20px;
}

.radio-button{
    -fx-font-family: Verdana;
    -fx-text-fill: #0B3953;
    -fx-font-size: 18px;
}

.button{
    -fx-font-family: Verdana;
    -fx-text-fill: radial-gradient(focus-angle 0.0deg, focus-distance 0.0% , center 53.9823% 50.7576%, radius 92.2018%, #0b3954 0.0%, #7fdbd4 64.428%, #0b3954 100.0%);
    -fx-font-size: 24px;
}

#compraButton{
    -fx-text-fill:  radial-gradient(focus-angle 0.0deg, focus-distance 0.0% , center 53.9823% 50.7576%, radius 92.2018%, #017a79 0.0%, #017a79 0.6729%, #ffc857 0.6729%, #898989 100.0%);
}

.border{
    -fx-border-color: #017A79;
    -fx-border-radius: 10%;
}