.inputTitle{
    -fx-effect: dropshadow(gaussian, #027A79, 4, 0.3, 0, 0);
    -fx-font-size: 24px;
    -fx-font: "Verdana";
    -fx-fill: #0b3952;
}

.campiInput{
    -fx-font: "Verdana";
    -fx-font-size: 20px;
}

.button{
    -fx-font-size: 24px;
    -fx-font: "Verdana";
}

.backButton{
    -fx-text-fill: radial-gradient(focus-angle 0.0deg, focus-distance 0.0% , center 53.9823% 50.7576%, radius 92.2018%, #0b3954 0.0%, #7fdbd4 64.428%, #0b3954 100.0%);
}

.malattieButton{
    -fx-text-fill:  radial-gradient(focus-angle 0.0deg, focus-distance 0.0% , center 53.9823% 50.7576%, radius 92.2018%, #017a79 0.0%, #017a79 0.6729%, #ffc857 0.6729%, #898989 100.0%);
}

.borderPane{
    -fx-border-color: black;
    -fx-border-radius: 3%;
}

.errorMessage{
    fx-fill: red;
    -fx-font: "Verdana";
    -fx-font-size: 24px;
}