.backgroundSintomi{

}

.contenitoreList {
    -fx-border-color: #0b3953;
    -fx-border-radius: 1%;
}

.button{
    -fx-font-size: 24px;
    -fx-font-family: Verdana;
}

#malattieButton{
    -fx-text-fill: aqua;
}

.titoloSeM{
    -fx-fill: #0b3953;
    -fx-font-size: 28px;
    -fx-font-family: Verdana;
}

.confirmSeM{
    -fx-text-fill: radial-gradient(focus-angle 0.0deg, focus-distance 0.0% , center 53.9823% 50.7576%, radius 92.2018%, #017a79 0.0%, #017a79 0.6729%, #ffc857 0.6729%, #F2E8DC 100.0%);
}

.backSeM{
    -fx-text-fill: radial-gradient(focus-angle 0.0deg, focus-distance 0.0% , center 53.9823% 50.7576%, radius 92.2018%, #0b3954 0.0%, #7fdbd4 64.428%, #0b3954 100.0%);
}

.check-box{
    -fx-font-family: Verdana;
    -fx-font-size: 14px;
    -fx-text-fill: #0b3952;
}